ul {
  position: absolute;
  left: 610px;
  top: 33px;
/*
    background: url(image.png);
#menuicon1 {
   position: absolute;
   left: 37.55%;
   right: 61.58%;
   top: 3.06%;
   bottom: 95.4%;
  }

  #menuicon2 {
   position: absolute;
   left: 42.55%;
   right: 56.49%;
   top: 2.87%;
   bottom: 95.39%;
  }

  #menuicon3 {
   position: absolute;
   left: 50.16%;
   right: 49.15%;
   top: 2.96%;
   bottom: 95.65%;
  }

  #menuicon4 {
   position: absolute;
   width: 20px;
   height: 20px;
   left: 1095px;
   top: 30px;
  } */
letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999999;
}

li {
  display: block;
  padding: 0 20px;
  color: #fff;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  font-family: 'Museo Sans Cyrl';
  line-height: 24px;
  text-transform: uppercase;
  transition: .3s;
  z-index: 999999;
  
}

li a {
  text-decoration: none;
  color: #fff;
  transition: .3s;
  padding: 1px;
  z-index: 999999;
}
li img {
  position: relative;
  right: 3px;
  top: 0px;

}
ul:hover li a:hover {
  border: solid 3px rgb(112, 112, 112);
  border-radius: 100px/90px;
  background-color: rgb(112, 112, 112);
}
 /* Visual */
   * {
    margin: 0;
    padding: 0;
    user-select: none;
    cursor: none;
  }

  .dot {
    width: 4px;
    height: 4px;
    position: fixed;
    background-color: #ffffffa9;
    border-radius: 50%;
    margin: -2px 0 0 -2px;
    z-index: 9999;
    pointer-events: none;
  }

  .cursor {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #ffffff98;
    border-radius: 50%;
    position: fixed;
    margin: -20px 0 0 -20px;
    z-index: 9999;
    pointer-events: none;
  }

  body {
    margin: 0%;
    overflow: hidden;
    
    background: rgb(17, 17, 19);
  }

  /* Site */
  #box {
    box-sizing: border-box;

    position: absolute;
    width: 84%;
    height: 75%;
    left: 160px;
    top: 130px;

    background: #1f1f1f;
    border: 3px solid #383838;
    border-radius: 20px;
  }

  /*#boxline {
   position: absolute;
   width: 1390px;
   height: 0px;
   left: 340px;
   top: 200px;
   
   border: 5px solid #D8DAD9;
   border-radius: 100px;
  }
*/
  #maintext {
    position: absolute;
    width: 1275px;
    height: 38px;
    left: 410px;
    top: 510px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    letter-spacing: 0.05em;

    color: #7c7c7c;

    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  #maintext1 {
    position: absolute;
    width: 166px;
    height: 52px;
    left: -2px;
    top: 13px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2em;

    color: #ffffff;

    text-shadow: 0px 4px 4px rgba(136, 136, 136, 0.25);
  }

  #Menu {
    position: absolute;
    width: 1920px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #383838;
    mix-blend-mode: normal;
    border: 2px solid #505050;
  }

  #menuline {

    position: absolute;
    width: 60px;
    height: 0px;
    left: 1750px;
    top: 37px;
    
    border: 5px solid #D8DAD9;
    border-radius: 100px;
    transform: rotate(90deg);
  }

  #menuline1 {
    box-sizing: border-box;

    position: absolute;
    width: 1920px;
    height: 0px;
    top: 930px;

    border: 3px solid #D8DAD9;
  }

  #menucopyright {
    position: absolute;
    width: 297px;
    height: 32px;
    left: 811px;
    top: 955px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.05em;

    color: #ffffff;
  }

  #mainicon {
   position: absolute;
   width: 89px;
   height: 68px;
   left: 1819px;
   top: 7px;

    background: url(image.png);
  }

  #menutext {
    box-sizing: border-box;

    position: absolute;
    width: 51px;
    height: 22px;
    left: 600px;
    top: 6px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: rgba(184, 184, 184, 0.83);
     text-shadow: #909090;
  }

  #menutext1 {
    box-sizing: border-box;
    position: absolute;
    width: 83px;
    height: 24px;
    left: 55px;
    top: 459px;

    font-family: 'Museo Sans Cyrl';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* identical to box height */

    letter-spacing: 0.05em;

    color: #F5F4F9;
  }
  #topborder {
    position: absolute;
    width: 1920px;
    height: 70px;
    top: 937px;

    background: #383838;
  }